.centre {
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
}

.margin {
    margin: 0% 10%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
}

button {
    width: 100%;
    background-color: white;
    color: #CD7F32;
    font-size: 20px;
}